@import 'C:\Users\Teo\Progetti\WebProjects\RoleManager\FE\src\app\common\back-button.css';

.sitemap-navigation {
    display: inline-block;
    width: 900px;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
}

.sitemap-navigation ul,
.sitemap-navigation li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.sitemap-navigation a {
    display: inline-block;
}

.sitemap-navigation > .menu-item:not(:first-child)::before,
.sitemap-navigation > .menu-item-has-children:not(:first-child) > .sub-menu::before {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    margin-left: -2px;
    width: 100%;
    border-left: #4088c1 solid 4px;
    height: 2em;
}

.sitemap-wrapper {
    padding: 2rem;
    text-align: center;
}

.sitemap-navigation a {
    border-radius: 0.25em;
    color: white;
    text-decoration: none;
    padding: 1em;
    transition: 0.25s;
}
.sitemap-navigation .menu-item:nth-child(1) a {
    background: #d5b606dd;
}

.sitemap-navigation .menu-item:nth-child(2) a {
    background: #d2970ce3;
}

.sitemap-navigation .menu-item:nth-child(3) a {
    background: #d2720ce3;
}

.sitemap-navigation .menu-item:nth-child(4) a {
    background: #d25f0ce3;
}

.sitemap-navigation .menu-item:nth-child(5) a {
    background: #aa0f0fea;
}

.sitemap-navigation .menu-item a:hover {
    background: #04a4a2;
}

.btn {
    width: 8%;
    white-space: nowrap;
}
